.box, .card {
  overflow: hidden;
}

.turun {
  -webkit-transition: 2.5s;
  transition: 2.5s;
  top: -999px;
  position: relative;
}

.turun.animate {
  top: 0;
}

.naik {
  -webkit-transition: top 2.5s;
  transition: top 2.5s;
  top: 999px;
  position: relative;
}

.naik.animate {
  top: 0;
}

.kekiri {
  -webkit-transition: right 2.5s;
  transition: right 2.5s;
  right: -999px;
  position: relative;
}

.kekiri.animate {
  right: 0;
}

.kekanan {
  -webkit-transition: left 2.5s;
  transition: left 2.5s;
  left: -999px;
  position: relative;
}

.kekanan.animate {
  left: 0;
}

.membesar {
  -webkit-transition: -webkit-transform 2.5s;
  transition: -webkit-transform 2.5s;
  transition: transform 2.5s;
  transition: transform 2.5s, -webkit-transform 2.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.membesar.animate {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.muncul {
  -webkit-transition: opacity 1.9s;
  transition: opacity 1.9s;
  opacity: 0;
}

.muncul.animate {
  opacity: 1;
}

.melebar {
  -webkit-transition: max-width 1.9s;
  transition: max-width 1.9s;
  max-width: 0;
  overflow:hidden;
}

.melebar.animate {
  max-width: 500px;
}

:root {
  --animate-duration: 2.5s;
  --animate-delay: 2.5s;
  --animate-repeat: 1;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.animationSpin {
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

.animate-init {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate-init.animate.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animate-init.animate.repeat-1 {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: var(--animate-repeat);
  animation-iteration-count: var(--animate-repeat);
}

.animate-init.animate.repeat-2 {
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: calc(var(--animate-repeat) * 2);
  animation-iteration-count: calc(var(--animate-repeat) * 2);
}

.animate-init.animate.repeat-3 {
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: calc(var(--animate-repeat) * 3);
  animation-iteration-count: calc(var(--animate-repeat) * 3);
}

.animate-init.animate.delay-2.5s {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate-init.animate.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-delay: calc(var(--animate-delay) * 2);
  animation-delay: calc(var(--animate-delay) * 2);
}

.animate-init.animate.delay-2.5s {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-delay: calc(var(--animate-delay) * 3);
  animation-delay: calc(var(--animate-delay) * 3);
}

.animate-init.animate.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-delay: calc(var(--animate-delay) * 4);
  animation-delay: calc(var(--animate-delay) * 4);
}

.animate-init.animate.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-delay: calc(var(--animate-delay) * 5);
  animation-delay: calc(var(--animate-delay) * 5);
}

.animate-init.animate.faster {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-duration: calc(var(--animate-duration) / 2);
  animation-duration: calc(var(--animate-duration) / 2);
}

.animate-init.animate.fast {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-duration: calc(var(--animate-duration) * 0.8);
  animation-duration: calc(var(--animate-duration) * 0.8);
}

.animate-init.animate.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-duration: calc(var(--animate-duration) * 2);
  animation-duration: calc(var(--animate-duration) * 2);
}

.animate-init.animate.slower {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-duration: calc(var(--animate-duration) * 3);
  animation-duration: calc(var(--animate-duration) * 3);
}

@media (prefers-reduced-motion: reduce), print {
  .animate-init {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
  .animate-init[class*="Out"] {
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

