<div id="nav-cover" class="position-relative sheet" role="tabpanel" aria-labelledby="nav-cover-tab">
                    <div class="bg-header position-fixed"></div>
                    <section class="position-relative overflow-hidden">
                        <div class="card bg-transparent px-5 py-5 m-0 rounded-1 text-center d-flex flex-column justify-content-center" style="min-height: 95vh;border-bottom: none;">
                            <div class="pb-5 rounded pt-5 py-3 row position-relative" style="background-image: linear-gradient(0deg, #ffffff12, #ffffff00);margin-bottom: -19px;z-index:11;opacity: .75;background-color: #fffaf17a;">
                              <div class="col-12">
                                  <img decoding="async" width="241" height="436" style="width: 152px;height: auto;" src="./assets/ornaments/ornament-gunungan-frame.png" class="attachment-full mb-3 size-full wp-image-564">
                                  <div class="ff-qafinte fw-bold mb-3">The Wedding Of</div>
                              </div>
                              <div class="col-12 position-relative">
                                <div>
                                    <h1 class="fs-3 ff-andina fw-bold pe-2" >
                                        <span class="do-animate animate-start kekanan">Anissa</span> &amp; <span class="do-animate animate-start kekiri">Hamzah</span>
                                    </h1>
                                </div>
                              </div>
                              <div class="col-12">
                                <div class="m-1 do-animate center my-3 animate-start membesar">
                                    <div class="ff-alata">Save The Date</div>
                                    <div class="my-3">
                                        <span class="ff-alata fw-bold">Minggu</span>,
                                        <strong>31 Mei 2026</strong>
                                    </div>
                                </div>
                              </div>
                              <div class="col-12 overflow-hidded">
                                    <div class="d-flex justify-content-center mt-2 countdown" style="text-shadow: none">
                                        <div class="counter position-relative fw-bold do-animate animate-start kekiri animate-init"><div class='countday'>00</div><span class="d-block fw-normal">Hari</span></div>
                                        <div class="counter position-relative fw-bold do-animate animate-start kekanan animate-init"><div class='counthour'>00</div><span class="d-block fw-normal">Jam</span></div>
                                        <div class="counter position-relative fw-bold do-animate animate-start kekiri animate-init"><div class='countminute'>00</div><span class="d-block fw-normal">Menit</span></div>
                                        <div class="counter position-relative fw-bold do-animate animate-start kekanan animate-init"><div class='countsecond'>00</div><span class="d-block fw-normal">Detik</span></div>
                                    </div>
                              </div>
                            </div>
                        </div>
                        <div style="position: absolute;width: 100%;bottom: 0;">
                            <img src="./assets/ornaments/ornament-wayang-shadow.webp" class="w-100" style="opacity: .75;">
                            <div class="position-absolute" style="background-image:url(./assets/ornaments/background-ornament.png);height:100%;width:100%;background-position:center;background-size:contain;top: 0;left: 0;z-index: 9;opacity: .75;background-repeat: no-repeat;"></div>
                        </div>
                        <div style="position: absolute;width: 100%;bottom: 0;">
                            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                            <defs>
                                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                            </defs>
                            <g class="parallax">
                                <use xlink:href="#gentle-wave" x="48" y="0" style="fill: #B37646;"></use>
                                <use xlink:href="#gentle-wave" x="48" y="3" style="fill: #8f6849;"></use>
                                <use xlink:href="#gentle-wave" x="48" y="5" style="fill: #613c2c;"></use>
                                <use xlink:href="#gentle-wave" x="48" y="7" style="fill: #3D251B;"></use>
                            </g>
                            </svg>
                        </div>
                    </section>
                </div>
