<div id="nav-acara" class="sheet" role="tabpanel" aria-labelledby="nav-acara-tab" style="margin-top: -3px;">
                    <section class="position-relative bg-transparent border-0 p-0 text-center" style="z-index:5">
                        <div class="parent-overlay">
                            <div class="child-overlay" style="background-image: url(./assets/images/background-cover-couple.jpg);background-size: cover;background-position: bottom right;"></div>
                        </div>
                        <div class="container overflow-hidden">
                            <div class="frame d-flex flex-column justify-content-center ff-ltcomical">
                                <div class="text-center">
                                  <img src="./assets/ornaments/ornament-gunungan-frame.png" class="" style="max-width:77%;opacity: .5;"> 
                                </div>
                                <div class="content-invitation">
                                    <span class='d-block display-1 ff-spiritednote my-1'>Waktu Dan Tempat</span>
                                    <div class='my-3'>
                                        <span>Ingatkan saya melalui google calendar</span><br/>
                                        <a class='btn btn-sm btn-primary text-white do-animate membesar' href='https://calendar.google.com/calendar/u/0/r/eventedit?text=(DEMO TEMPLATE WEDDING-PREMIUM042) Hamzah & Anissa&details=(DEMO TEMPLATE WEDDING-PREMIUM042) Hamzah & Anissa&dates=20260531T000000/20260531T240000'><i class='fa fa-bell'></i> Atur Pengingat</a>
                                    </div>
                                                                        <div class="d-flex bg-white shadow mb-3 do-animate kekanan justify-content-start rounded-3 overflow-hidden">
                                        <div class="bg-secondary d-flex">
                                            <div class='align-self-center ff-alata fs-4 position-relative fw-bold px-2 py-5 text-uppercase text-white' style="writing-mode: vertical-lr;transform: rotate(180deg);">
                                                 Akad
                                            </div>
                                        </div>
                                        <div class="align-self-center col text-center my-3 mx-2">
                                            <div class='fw-bold h5 my-0'>📅 12 Desember 2021 <br/> 🕐 Pukul 08:00 WIB</div>
                                            <div>-----------------</div>
                                            <span class='fw-normal'>Masjid agung bogor</span>
                                        </div>
                                    </div>
                                    <br/><br/>
                                                                                                            <div class="d-flex do-animate kekiri bg-white shadow mb-3 justify-content-start rounded-3 overflow-hidden">
                                        <div class="align-self-center col text-center my-3 mx-2">
                                            <div class='fw-bold h5 my-0'>📅 12 Desember 2024 <br/> 🕐 Pukul 10:00 WIB</div>
                                            <div>-----------------</div>
                                            <div>
                                                 <div class='p-2 content-text'>Jl.kusuma bangsa 05 , rawamangun. Kota Depok</div>
                                            </div>
                                                                                        <div>
                                                <div class="local-map-placeholder"><div class="map-pin">Lokasi Acara</div><div>Detail lokasi tersimpan lokal</div></div>
                                            </div>
                                                                                    </div>
                                        <div class="bg-secondary d-flex">
                                            <div class='align-self-center ff-alata fs-4 position-relative fw-bold px-2 py-5 text-uppercase text-white' style="writing-mode: vertical-lr;">
                                                 Resepsi
                                            </div>
                                        </div>
                                    </div>
                                    <br/><br/>
                                                                                                            <div class="d-flex do-animate kekanan bg-white shadow mb-3 justify-content-start rounded-3 overflow-hidden">
                                        <div class="bg-secondary d-flex">
                                            <div class='align-self-center ff-alata fs-4 position-relative fw-bold px-2 py-5 text-uppercase text-white' style="writing-mode: vertical-lr;transform: rotate(180deg);">
                                                 Ngunduh Mantu
                                            </div>
                                        </div>
                                        <div class="align-self-center col text-center my-3 mx-2">
                                            <div class='fw-bold h5 my-0' >📅15 Desember 2021 <br/> 🕐 Pukul 08:00 WIB</div>
                                            <div>-----------------</div>
                                            <div>
                                                 <div class='p-2 content-text'>Jl.kusuma bangsa 05 , rawamangun. Kota Depok</div>
                                            </div>
                                                                                        <div>
                                                <div class="local-map-placeholder"><div class="map-pin">Lokasi Acara</div><div>Detail lokasi tersimpan lokal</div></div>
                                            </div>
                                                                                    </div>
                                    </div>
                                    <br/><br/>
                                                                                                            <div class="d-flex do-animate kekiri shadow bg-white mb-3 justify-content-start rounded-3 overflow-hidden">
                                        <div class="align-self-center col text-center my-3 mx-2">
                                            <div class='px-2 py-5'>DRESSCODE : BATIK<br />
Selalu jaga protokol kesehatan</div>
                                        </div>
                                        <div class="bg-secondary d-flex">
                                            <div class='align-self-center ff-alata fs-4 position-relative fw-bold px-2 py-5 text-uppercase text-white' style="writing-mode: vertical-lr;">
                                                 Catatan
                                            </div>
                                        </div>
                                    </div>
                                                                    </div>
                            </div>
                        </div>
                    </section>
                </div>
