<div id="nav-cerita" class="sheet position-relative pt-2" role="tabpanel" aria-labelledby="nav-cerita-tab" style="margin-top: -11px;">
                                        <div class="parent-overlay">
                        <div class="child-overlay" style="margin-top: -2px;background-image: url(./assets/ornaments/ornament-wayang-shadow.webp);background-position: center bottom;background-size: cover;"></div>
                    </div>
                    <section class="position-relative border-0 p-0 p-0 rounded-0 text-center">
                        <div class="container overflow-hidden">
                            <div class="frame  d-flex justify-content-center">
                                <div class="content-text col-md-8 content-invitation">
                                                                        <h2 class="h1 fs-1 ff-amsterdam">Our Story</h2>
                                    <p>Perjalanan kisah cinta kami</p>
                                                                                                                <div class="d-flex flex-nowrap mb-3">
                                            <time class="date">31 Januari 2021</time>
                                            <span class="icon">
                                               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                                <path d="M25 44.296875L24.363281 43.769531C23.363281 42.941406 22.019531 42.027344 20.46875 40.96875C14.308594 36.765625 5 30.414063 5 20.285156C5 14.0625 10.097656 9 16.363281 9C19.714844 9 22.851563 10.457031 25 12.957031C27.148438 10.457031 30.289063 9 33.636719 9C39.902344 9 45 14.0625 45 20.285156C45 30.414063 35.691406 36.765625 29.53125 40.96875C27.976563 42.027344 26.636719 42.941406 25.636719 43.769531Z" fill="#A15F9F" />
                                               </svg>
                                               <span></span>
                                            </span>
                                            <div class="story do-animate animate-init animate__flipInY">
                                                                                                <div class="px-5 py-3">
										            <img src="./assets/ornaments/ornament-cover-batik.jpg" class="w-100 d-block mb-2" alt="story love"/>
										        </div>
										                                                       <div>*Kenalan*<br />
Dibawah pohon cemara taman cempaka menjadi saksi kami di pertemukan</div>
                                            </div>
                                        </div>
                                                                                                                                                    <div class="d-flex flex-nowrap mb-3">
                                            <time class="date">31 Maret 2021</time>
                                            <span class="icon">
                                               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                                <path d="M25 44.296875L24.363281 43.769531C23.363281 42.941406 22.019531 42.027344 20.46875 40.96875C14.308594 36.765625 5 30.414063 5 20.285156C5 14.0625 10.097656 9 16.363281 9C19.714844 9 22.851563 10.457031 25 12.957031C27.148438 10.457031 30.289063 9 33.636719 9C39.902344 9 45 14.0625 45 20.285156C45 30.414063 35.691406 36.765625 29.53125 40.96875C27.976563 42.027344 26.636719 42.941406 25.636719 43.769531Z" fill="#A15F9F" />
                                               </svg>
                                               <span></span>
                                            </span>
                                            <div class="story do-animate animate-init animate__flipInY">
                                                                                                <div class="px-5 py-3">
										            <img src="./assets/ornaments/ornament-couple-frame.png" class="w-100 d-block mb-2" alt="story love"/>
										        </div>
										                                                       <div>*Tunangan*<br />
Banyaknya persamaan dan kecocokan memutuskan kamu untuk serius dalam menjalani hubungan</div>
                                            </div>
                                        </div>
                                                                                                                                                    <div class="d-flex flex-nowrap mb-3">
                                            <time class="date">21 Desembar 2021</time>
                                            <span class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                                 <path d="M25 44.296875L24.363281 43.769531C23.363281 42.941406 22.019531 42.027344 20.46875 40.96875C14.308594 36.765625 5 30.414063 5 20.285156C5 14.0625 10.097656 9 16.363281 9C19.714844 9 22.851563 10.457031 25 12.957031C27.148438 10.457031 30.289063 9 33.636719 9C39.902344 9 45 14.0625 45 20.285156C45 30.414063 35.691406 36.765625 29.53125 40.96875C27.976563 42.027344 26.636719 42.941406 25.636719 43.769531Z" fill="#A15F9F" />
                                                </svg>
                                            </span>
                                            <div class="story do-animate animate-init animate__flipInY">
                                                                                                <div class="px-5 py-3">
										            <img src="./assets/ornaments/ornament-batik-panel.png" class="w-100 d-block mb-2" alt="story love"/>
										        </div>
										                                                       <div>*Menikah*<br />
Menjadi hari terindah dalam hidup kami, ikatan pernikahan menjadikan kami semakin erat dalam kasih sayang</div>
                                            </div>
                                        </div>
                                                                                                                                                                                    <h3 class="h4 title-ucapan fw-bold">Harapan Pengantin Pria</h3>
                                    <p>Semoga dia menjadi istri dunia dan akhirat</p>
                                                                                                            <h3 class="h4 title-ucapan fw-bold">Harapan Pengantin Wanita</h3>
                                    <p>Semoga dia menjadi imam yang baik</p>
                                                                    </div>
                            </div>
                        </div>
                        <div class="divider bg-transparent">
                          <div>
                            <svg id="" class="waves" preserveAspectRatio="xMidYMax meet" viewBox="0 0 1600 200" style="display: block;display: block;height: auto;width: 100%;max-height:none" data-height="200">
                            <polygon class="" style="fill: #d3c8c2" points="1611.912,205.954 -14.224,206 -9.912,2.046 1616.224,162.165 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #59abe3;" points="167.262,39.589 107.551,33.709 123.443,15.177 183.154,21.057 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #d2527f;" points="286.684,51.348 226.973,45.468 242.865,26.936 302.577,32.816 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #d2527f;" points="47.839,27.83 -11.872,21.95 4.021,3.418 63.732,9.298 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #59abe3;" points="406.107,63.107 346.395,57.227 362.288,38.695 421.999,44.575 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #d2527f;" points="525.529,74.866 465.818,68.986 481.71,50.454 541.422,56.334 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #59abe3;" points="644.952,86.625 585.24,80.745 601.133,62.213 660.844,68.093 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #d2527f;" points="764.374,98.384 704.663,92.504 720.555,73.973 780.267,79.852 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #59abe3;" points="883.797,110.143 824.085,104.263 839.978,85.732 899.689,91.611 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #d2527f;" points="1003.219,121.902 943.508,116.023 959.4,97.491 1019.111,103.37 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #59abe3;" points="1122.641,133.661 1062.93,127.782 1078.823,109.25 1138.534,115.129 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #d2527f;" points="1242.064,145.42 1182.353,139.541 1198.245,121.009 1257.956,126.888 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #59abe3;" points="1361.486,157.179 1301.775,151.3 1317.668,132.768 1377.379,138.647 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #d2527f;" points="1480.909,168.938 1421.198,163.059 1437.09,144.527 1496.801,150.406 "></polygon> 
                            <polygon class="" style="opacity: 1;fill: #59abe3;" points="1600.331,180.697 1540.62,174.818 1556.513,156.286 1616.224,162.165 "></polygon></svg>
                          </div>
                        </div>
                    </section>
                                    </div>
