@-webkit-keyframes iddle1 {
  0% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
  50% {
    transform: scale(0.9) rotate(5deg) translate(-33px, -33px);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
}
@keyframes iddle1 {
  0% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
  50% {
    transform: scale(0.9) rotate(5deg) translate(-33px, -33px);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
}
@-webkit-keyframes iddle2 {
  0% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
  50% {
    transform: scale(0.9) rotate(5deg) translate(33px, 33px);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
}
@keyframes iddle2 {
  0% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
  50% {
    transform: scale(0.9) rotate(5deg) translate(33px, 33px);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
}
@-webkit-keyframes iddle3 {
  0% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
  50% {
    transform: scale(0.9) rotate(5deg) translate(33px, -33px);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
}
@keyframes iddle3 {
  0% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
  50% {
    transform: scale(0.9) rotate(5deg) translate(33px, -33px);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
}
@-webkit-keyframes iddle4 {
  0% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
  50% {
    transform: scale(0.9) rotate(5deg) translate(-33px, 33px);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
}
@keyframes iddle4 {
  0% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
  50% {
    transform: scale(0.9) rotate(5deg) translate(-33px, 33px);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
}
@-webkit-keyframes iddle5 {
  0% {
    transform: tanslate(0, 0);
  }
  50% {
    transform: translate(0, 33px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes iddle5 {
  0% {
    transform: tanslate(0, 0);
  }
  50% {
    transform: translate(0, 33px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes iddle6 {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-33px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-33px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes iddle6 {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-33px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-33px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes iddle7 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes iddle7 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes iddle8 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes iddle8 {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes iddle9 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes iddle9 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }
  1% {
    -webkit-transform: rotateZ(30deg);
  }
  3% {
    -webkit-transform: rotateZ(-28deg);
  }
  5% {
    -webkit-transform: rotateZ(34deg);
  }
  7% {
    -webkit-transform: rotateZ(-32deg);
  }
  9% {
    -webkit-transform: rotateZ(30deg);
  }
  11% {
    -webkit-transform: rotateZ(-28deg);
  }
  13% {
    -webkit-transform: rotateZ(26deg);
  }
  15% {
    -webkit-transform: rotateZ(-24deg);
  }
  17% {
    -webkit-transform: rotateZ(22deg);
  }
  19% {
    -webkit-transform: rotateZ(-20deg);
  }
  21% {
    -webkit-transform: rotateZ(18deg);
  }
  23% {
    -webkit-transform: rotateZ(-16deg);
  }
  25% {
    -webkit-transform: rotateZ(14deg);
  }
  27% {
    -webkit-transform: rotateZ(-12deg);
  }
  29% {
    -webkit-transform: rotateZ(10deg);
  }
  31% {
    -webkit-transform: rotateZ(-8deg);
  }
  33% {
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
  }
  37% {
    -webkit-transform: rotateZ(2deg);
  }
  39% {
    -webkit-transform: rotateZ(-1deg);
  }
  41% {
    -webkit-transform: rotateZ(1deg);
  }
  43% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(0);
  }
}
@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
.animate-iddle1 {
  -webkit-animation-name: iddle1;
          animation-name: iddle1;
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.animate-iddle2 {
  -webkit-animation-name: iddle2;
          animation-name: iddle2;
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.animate-iddle3 {
  -webkit-animation-name: iddle3;
          animation-name: iddle3;
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.animate-iddle4 {
  -webkit-animation-name: iddle4;
          animation-name: iddle4;
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.animate-iddle5 {
  -webkit-animation-name: iddle5;
          animation-name: iddle5;
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.animate-iddle6 {
  -webkit-animation-name: iddle6;
          animation-name: iddle6;
  -webkit-animation-duration: 5.3s;
          animation-duration: 5.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.animate-iddle7 {
  -webkit-animation-name: iddle7;
          animation-name: iddle7;
  -webkit-animation-duration: 5.3s;
          animation-duration: 5.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.animate-iddle8 {
  -webkit-animation: iddle8 5s linear infinite;
          animation: iddle8 5s linear infinite;
}

.animate-iddle9 {
  -webkit-animation: iddle9 6s ease-in-out infinite;
          animation: iddle9 6s ease-in-out infinite;
}

.bell {
  -webkit-animation: ring 4s 0.7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s 0.7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
}/*# sourceMappingURL=style.css.map */