@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/005-kfokcnqeu92fr1mu53zec9-vu3r1gihoszmoclhrs6ljxfmmlohria8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/006-kfokcnqeu92fr1mu53zec9-vu3r1gihoszmoclhrs6ljxfmmlt-qia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/007-kfokcnqeu92fr1mu53zec9-vu3r1gihoszmoclhrs6ljxfmmlohqia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/008-kfokcnqeu92fr1mu53zec9-vu3r1gihoszmoclhrs6ljxfmmlrpqia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/009-kfokcnqeu92fr1mu53zec9-vu3r1gihoszmoclhrs6ljxfmmlmbxia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/010-kfokcnqeu92fr1mu53zec9-vu3r1gihoszmoclhrs6ljxfmmlijxia8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/011-kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwubebgmt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/012-kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwuaabwmt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/013-kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwubebwmt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/014-kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwub2bwmt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/015-kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwuyjammt.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: block;
  src: url(../fonts/016-kfomcnqeu92fr1me7ksn66agldtyluamqxc89ymc2dpnwuztammt.ttf) format('truetype');
}
