@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(../fonts/118-vujudm3i2y35pofontldafkuchw1y1n5phds.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../fonts/119-vujrdm3i2y35pofontldafkuchw1y2vv.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(../fonts/120-vujudm3i2y35pofontldafkuchw1y1mhpxds.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(../fonts/121-vujudm3i2y35pofontldafkuchw1y1mnobds.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(../fonts/122-vujudm3i2y35pofontldafkuchw1y1npords.ttf) format('truetype');
}
@font-face {
  font-family: 'Ovo';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../fonts/123-yyll0h7wyfzjyw.ttf) format('truetype');
}
