@-webkit-keyframes animationscale  {
from  {
-webkit-transform: scale(1);
  transform: scale(1);
}
to  {
-webkit-transform: scale(0.7);
  transform: scale(0.7);
}
}
@keyframes animationscale  {
from  {
-webkit-transform: scale(1);
  transform: scale(1);
}
to  {
-webkit-transform: scale(0.7);
  transform: scale(0.7);
}
}
@-webkit-keyframes animationcountertime  {
from  {
-webkit-transform: scale(1);
  transform: scale(1);
}
to  {
-webkit-transform: scale(0.9);
  transform: scale(0.9);
}
}
@keyframes animationcountertime  {
from  {
-webkit-transform: scale(1);
  transform: scale(1);
}
to  {
-webkit-transform: scale(0.9);
  transform: scale(0.9);
}
}
@-webkit-keyframes shake  {
0%  {
-webkit-transform: translate(1px, 1px) rotate(0deg);
  transform: translate(1px, 1px) rotate(0deg);
}
10%  {
-webkit-transform: translate(-1px, -2px) rotate(-1deg);
  transform: translate(-1px, -2px) rotate(-1deg);
}
20%  {
-webkit-transform: translate(-3px, 0px) rotate(1deg);
  transform: translate(-3px, 0px) rotate(1deg);
}
30%  {
-webkit-transform: translate(3px, 2px) rotate(0deg);
  transform: translate(3px, 2px) rotate(0deg);
}
40%  {
-webkit-transform: translate(1px, -1px) rotate(1deg);
  transform: translate(1px, -1px) rotate(1deg);
}
50%  {
-webkit-transform: translate(-1px, 2px) rotate(-1deg);
  transform: translate(-1px, 2px) rotate(-1deg);
}
60%  {
-webkit-transform: translate(-3px, 1px) rotate(0deg);
  transform: translate(-3px, 1px) rotate(0deg);
}
70%  {
-webkit-transform: translate(3px, 1px) rotate(-1deg);
  transform: translate(3px, 1px) rotate(-1deg);
}
80%  {
-webkit-transform: translate(-1px, -1px) rotate(1deg);
  transform: translate(-1px, -1px) rotate(1deg);
}
90%  {
-webkit-transform: translate(1px, 2px) rotate(0deg);
  transform: translate(1px, 2px) rotate(0deg);
}
100%  {
-webkit-transform: translate(1px, -2px) rotate(-1deg);
  transform: translate(1px, -2px) rotate(-1deg);
}
}
@keyframes shake  {
0%  {
-webkit-transform: translate(1px, 1px) rotate(0deg);
  transform: translate(1px, 1px) rotate(0deg);
}
10%  {
-webkit-transform: translate(-1px, -2px) rotate(-1deg);
  transform: translate(-1px, -2px) rotate(-1deg);
}
20%  {
-webkit-transform: translate(-3px, 0px) rotate(1deg);
  transform: translate(-3px, 0px) rotate(1deg);
}
30%  {
-webkit-transform: translate(3px, 2px) rotate(0deg);
  transform: translate(3px, 2px) rotate(0deg);
}
40%  {
-webkit-transform: translate(1px, -1px) rotate(1deg);
  transform: translate(1px, -1px) rotate(1deg);
}
50%  {
-webkit-transform: translate(-1px, 2px) rotate(-1deg);
  transform: translate(-1px, 2px) rotate(-1deg);
}
60%  {
-webkit-transform: translate(-3px, 1px) rotate(0deg);
  transform: translate(-3px, 1px) rotate(0deg);
}
70%  {
-webkit-transform: translate(3px, 1px) rotate(-1deg);
  transform: translate(3px, 1px) rotate(-1deg);
}
80%  {
-webkit-transform: translate(-1px, -1px) rotate(1deg);
  transform: translate(-1px, -1px) rotate(1deg);
}
90%  {
-webkit-transform: translate(1px, 2px) rotate(0deg);
  transform: translate(1px, 2px) rotate(0deg);
}
100%  {
-webkit-transform: translate(1px, -2px) rotate(-1deg);
  transform: translate(1px, -2px) rotate(-1deg);
}
}
@-webkit-keyframes move-forever  {
0%  {
-webkit-transform: translate3d(-90px, 0, 0);
  transform: translate3d(-90px, 0, 0);
}
100%  {
-webkit-transform: translate3d(85px, 0, 0);
  transform: translate3d(85px, 0, 0);
}
}
@keyframes move-forever  {
0%  {
-webkit-transform: translate3d(-90px, 0, 0);
  transform: translate3d(-90px, 0, 0);
}
100%  {
-webkit-transform: translate3d(85px, 0, 0);
  transform: translate3d(85px, 0, 0);
}
}
.animationscale  {
-webkit-animation-name: animationscale;
  animation-name: animationscale;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animationcountertime  {
-webkit-animation-name: animationcountertime;
  animation-name: animationcountertime;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animationshake  {
-webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.waves  {
position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 69px;
  max-height: 69px;
}
.parallax > use  {
-webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1)  {
-webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2)  {
-webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3)  {
-webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4)  {
-webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}
:root  {
--primaryColor:#486f65;
--accentColor:#d4b06a;
--sageColor:#c5cdbb;
--ivoryColor:#fff8ec;
--batikColor:#a26d56;
}
::-webkit-scrollbar  {
width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb  {
background: #888;
  border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover  {
background: #555;
}
:root  {
scroll-behavior: unset;
}
h1, h2, h3, h4, h5, h6  {
margin: 5px;
}
iframe  {
width: 100%;
  height: 300px;
}
svg:not(.waves)  {
width: 15px;
  height: 15px;
}
svg:not(.waves) path  {
fill: var(--primaryColor);
}
iframe  {
border-radius: 9px;
}
.backsound  {
position: fixed;
  right: 9px;
  top: 50%;
  z-index: 97;
  padding: 5px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: white;
  border: 1px solid #dedede;
}
.backsound svg  {
width: 24px;
  height: 24px;
}
.backsound svg path  {
fill: var(--primaryColor);
}
.backsound .iconplay  {
display: none;
}
.backsound .iconpause  {
display: inline;
}
.backsound.play .iconplay  {
display: inline;
}
.backsound.play .iconpause  {
display: none;
}
.frame  {
margin: 0;
  padding: 99px 9px;
  border-radius: 9px;
  min-height: calc(100vh - 69px);
}
.frame::before  {
content: '';
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: calc(100% - 36px);
  height: 99px;
  margin: 0 18px;
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
}
.content-text  {
padding: 37px 9px;
  border-radius: 15px;
}
body  {
padding-left: 3px;
  padding-right: 3px;
  color: #0c4643;
  padding-bottom: 39px;
  background-color: #f5eee1;
  background-image: url(../images/backgrounds/default-bg.jpg);
  background-size: contain;
  background-attachment: fixed;
  text-shadow: 1px 1px 3px #4d586da3;
}
section  {
min-height: calc(100vh - 69px);
}
section.card  {
border-radius: 9px;
}
.container  {
max-width: 750px;
  padding-top: 9px;
}
.container .card  {
position: relative;
}
.container:not(.modal-body)  {
padding-bottom: 61px;
}
.container.class-crush *  {
position: absolute;
}
#coverModal .card  {
padding: 17px;
  border-radius: 19px;
  -webkit-box-shadow: 1px 1px 5px grey;
  box-shadow: 1px 1px 5px grey;
}
#coverModal .card svg  {
width: 33px;
  height: 33px;
}
#coverModal .card svg path  {
fill: white;
}
#coverModal .card .to  {
border-radius: 9px;
  margin: 9px;
  padding: 9px 3px;
}
#coverModal .card .penerima  {
font-size: 15pt;
}
#coverModal .card .btn  {
border-radius: 33px;
}
.navmenu  {
position: fixed;
  width: 100%;
  bottom: -199px;
  -webkit-transition: bottom .5s;
  transition: bottom .5s;
  z-index: 99999;
  max-width: 333px;
  margin: 0% auto;
  left: 0;
  right: 0;
}
.navmenu.show  {
bottom: 3px;
}
.navmenu .navigation  {
bottom: 250px;
  -webkit-transition: bottom .5s;
  transition: bottom .5s;
}
.navmenu .navigation ul  {
list-style: none;
  background-color: #ffffffb8;
  height: 39px;
  padding: 0 5px 0 5px;
  margin: 0;
  -webkit-box-shadow: 0px 2px 20px 2px rgba(8, 8, 8, 0.06);
  box-shadow: 0px 2px 20px 2px rgba(8, 8, 8, 0.06);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  -webkit-transition: opacity .5s, -webkit-box-flex .5s;
  transition: opacity .5s, -webkit-box-flex .5s;
  transition: flex .5s, opacity .5s;
  transition: flex .5s, opacity .5s, -webkit-box-flex .5s, -ms-flex .5s;
}
.navmenu .navigation ul.left  {
margin-right: -15px;
  padding-right: 15px;
  border-top-left-radius: 37px;
  border-bottom-left-radius: 37px;
  opacity: 0;
}
.navmenu .navigation ul.right  {
margin-left: -15px;
  padding-left: 15px;
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
  opacity: 0;
}
.navmenu .navigation ul li  {
-webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.navmenu .navigation ul li svg  {
vertical-align: middle;
}
.navmenu .navigation .humberger-btn  {
background-color: #ffffff;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 12px 2px #e5d9c89c;
  box-shadow: 0px 0px 12px 2px #e5d9c89c;
  position: relative;
  cursor: pointer;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.navmenu .navigation .humberger-btn svg  {
vertical-align: middle;
}
.navmenu .navigation .humberger-btn svg.expand  {
display: inline-block;
}
.navmenu .navigation .humberger-btn svg.close  {
display: none;
}
.navmenu .navigation.open ul  {
width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.navmenu .navigation.open ul.left  {
opacity: 1;
}
.navmenu .navigation.open ul.right  {
opacity: 1;
}
.navmenu .navigation.open .humberger-btn svg.expand  {
display: none;
}
.navmenu .navigation.open .humberger-btn svg.close  {
display: inline-block;
}
#nav-cover  {
background-position: center;
  background-size: cover;
}
#nav-cover .img-banner  {
width: 100%;
  height: auto;
}
#nav-cover .caption-banner  {
position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: right;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#nav-cover .caption-banner *:not(.btn):not(.fa)  {
width: 100%;
}
#nav-cover .caption-banner .btn  {
font-size: 9pt;
}
#nav-cover .counter  {
width: 63px;
  height: 63px;
  border-radius: 39%;
  margin: 0 3px;
  padding: 5px;
  background-color: #486f6585;
  color: white;
  font-size: 14pt;
}
#nav-cover .counter span  {
font-size: 10pt;
}
#nav-cerita .date  {
font-family: 'breadley';
  font-size: 11pt;
  width: 69px;
  font-weight: bold;
}
#nav-cerita .icon  {
margin: 0 5px;
  min-height: 69px;
  text-align: center;
}
#nav-cerita .icon svg  {
display: block;
}
#nav-cerita .icon span  {
height: 100%;
  width: 3px;
  border-radius: 9px;
  display: inline-block;
  background-color: #486f65;
}
#nav-cerita .story  {
border-radius: 33px;
  border: 1px gray dashed;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 9px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  background-color: white;
  color: #274854;
}
#nav-cerita .story.animate  {
background-color: #486f65;
  color: white;
}
#nav-galeri img  {
width: 100%;
  border-radius: 17px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px grey;
  box-shadow: 2px 2px 5px grey;
}
#nav-tamu .card .form-control  {
border-radius: 19px;
  z-index: 2;
  position: relative;
}
#nav-tamu .card .form-control input  {
text-shadow: none;
}
#nav-tamu .card svg  {
width: 21px;
  height: 21px;
  vertical-align: sub;
}
#nav-tamu .card .wishes .wish  {
padding: 9px;
  background-color: #fff;
  border-radius: 9px;
  margin-bottom: 5px;
}
#nav-tamu .card .wishes .wish .user  {
font-weight: bold;
}
#nav-tamu .card .wishes .wish .confirm  {
padding: 0px 9px;
  border-radius: 9px;
  border: 1px solid #b6b5b5;
  font-size: 9pt;
  margin-left: 3px;
}
#nav-tamu .card .wishes .wish .time  {
display: block;
  font-size: 9pt;
  margin: 9px 0;
}
#nav-tamu .card .wishes .wish .message  {
display: block;
}
#nav-tamu .card .wishes .wish *  {
text-shadow: none;
}
#nav-lainnya .card  {
overflow: hidden;
}
#nav-lainnya .card .angpao, #nav-lainnya .card .kado  {
position: relative;
  padding: 9px;
  border-radius: 19px;
}
.hr  {
width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 1px 0;
}
.hr:after, .hr:before  {
content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 50%;
  left: 0;
}
.hr:before  {
background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, transparent), to(transparent));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, transparent 50%, transparent 100%);
  background-size: 15px;
  background-position: center;
  z-index: 1;
}
.hr:after  {
-webkit-transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
  transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #486f65), color-stop(15%, #c5cdbb), color-stop(25%, #c5cdbb), color-stop(35%, #d4b06a), color-stop(45%, #d4b06a), color-stop(55%, #fff8ec), color-stop(65%, #fff8ec), color-stop(75%, #a26d56), color-stop(85%, #a26d56), color-stop(95%, #486f65));
  background: linear-gradient(to right, #486f65 5%, #c5cdbb 15%, #c5cdbb 25%, #d4b06a 35%, #d4b06a 45%, #fff8ec 55%, #fff8ec 65%, #a26d56 75%, #a26d56 85%, #486f65 95%);
  background-size: 200%;
  background-position: 0%;
  -webkit-animation: bar 15s linear infinite;
  animation: bar 15s linear infinite;
}
@-webkit-keyframes bar  {
0%  {
background-position: 0%;
}
100%  {
background-position: 200%;
}
}
@keyframes bar  {
0%  {
background-position: 0%;
}
100%  {
background-position: 200%;
}
}
.hr.anim:before  {
background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(5%, #ffffff), color-stop(5%, transparent), color-stop(10%, transparent), color-stop(10%, #ffffff), color-stop(15%, #ffffff), color-stop(15%, transparent), color-stop(20%, transparent), color-stop(20%, #ffffff), color-stop(25%, #ffffff), color-stop(25%, transparent), color-stop(30%, transparent), color-stop(30%, #ffffff), color-stop(35%, #ffffff), color-stop(35%, transparent), color-stop(40%, transparent), color-stop(40%, #ffffff), color-stop(45%, #ffffff), color-stop(45%, transparent), color-stop(50%, transparent), color-stop(50%, #ffffff), color-stop(55%, #ffffff), color-stop(55%, transparent), color-stop(60%, transparent), color-stop(60%, #ffffff), color-stop(65%, #ffffff), color-stop(65%, transparent), color-stop(70%, transparent), color-stop(70%, #ffffff), color-stop(75%, #ffffff), color-stop(75%, transparent), color-stop(80%, transparent), color-stop(80%, #ffffff), color-stop(85%, #ffffff), color-stop(85%, transparent), color-stop(90%, transparent), color-stop(90%, #ffffff), color-stop(95%, #ffffff), color-stop(95%, transparent), to(transparent));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 5%, transparent 5%, transparent 10%, #ffffff 10%, #ffffff 15%, transparent 15%, transparent 20%, #ffffff 20%, #ffffff 25%, transparent 25%, transparent 30%, #ffffff 30%, #ffffff 35%, transparent 35%, transparent 40%, #ffffff 40%, #ffffff 45%, transparent 45%, transparent 50%, #ffffff 50%, #ffffff 55%, transparent 55%, transparent 60%, #ffffff 60%, #ffffff 65%, transparent 65%, transparent 70%, #ffffff 70%, #ffffff 75%, transparent 75%, transparent 80%, #ffffff 80%, #ffffff 85%, transparent 85%, transparent 90%, #ffffff 90%, #ffffff 95%, transparent 95%, transparent 100%);
  background-size: 150px;
  background-position: center;
  z-index: 1;
  -webkit-animation: bar 120s linear infinite;
  animation: bar 120s linear infinite;
}
.hr.anim:hover:before  {
-webkit-animation-duration: 20s;
  animation-duration: 20s;
}
.hr.anim:hover:after  {
-webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@media (min-width: 768px)  {
.waves  {
  height: 69px;
  min-height: 69px;
}
}
